.container {
  color: black;
  background-color: white;
  position: relative;
  padding: 50px 0;
}

.container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.listItem {
  cursor: pointer;
  font-size: 12px;
}

.description {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
  max-width: 700px;
}

.socialMediaHandles {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  padding: 4px;
  border-radius: 8px;
  background-color: rgb(0, 97, 177);
  cursor: pointer;
}
.icon:hover {
  background-color: rgb(0, 70, 128);
}
